<ion-header>
  <ion-grid>
    <ion-row>
      <ion-button fill="clear" color="primary" routerLink=""><ion-icon name="exit-outline" size="large"></ion-icon><b style="padding-left: 5px;">Sair</b></ion-button>
      <ion-title class="ion-text-justify">gender</ion-title>
    </ion-row>
  </ion-grid>
</ion-header>
  

<ion-content color="success">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="title">
            <h1>Bem vindo usuário!!</h1>
            <small>O sistema anti-fraudes tem como objetivo, proteger o usuário contra golpes comuns no meio digital.</small>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div >
            <h3>Aqui temos alguns gêneros de golpes que poderão te manter esperto quanto a eles.</h3>
            <em>Selecione o Genero de fraude que deseja aprender sobre</em>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-justify" style="margin-left: 10px;">
          <ion-button fill="outline" color="light" routerLink="internet"><ion-icon name="globe-outline" size="large"></ion-icon>internet</ion-button>
        </ion-col>
        <ion-col class="ion-text-justify">
          <ion-button fill="outline" color="light" routerLink="bank"><ion-icon name="card-outline" size="large"></ion-icon>Banco</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-justify" style="margin-left: 10px;">
          <ion-button fill="outline" color="light" routerLink="password"><ion-icon name="bag-outline" size="large"></ion-icon>Senhas</ion-button>
        </ion-col>
        <ion-col class="ion-text-justify">
          <ion-button fill="outline" color="light" routerLink="social"><ion-icon name="body-outline" size="large"></ion-icon>Sociais</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  

</ion-content>

<ion-footer>
</ion-footer>
