#money {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.user-img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

.points {
    margin-left: 10px;
    width: 100px;
    text-align: start;
    color: #ffc409;
    word-break: break-all;
}